<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <%- include('parts/head', {title: 'Home'}) %>
      <link rel="stylesheet" href="styles/home.css" />
      <title>Quantidade</title>
   </head>
   <body>
      <form action="/name" method="post" style="padding: 2em">
         <h3>Quantidade de jogadores</h3>
         <input type="number" name="player-quantity" id="player-quantity" />
         <button><i class="bx bx-right-arrow-alt"></i></button>
      </form>
   </body>
</html>
